{% extends "student/studentbase.html" %}
{% block content %}

<div class="card" style="width: 70em;">
  <div class="card-body">
    <h5 class="card-title">Students Data View</h5>


    <table class="table">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col">NAME</th>
      <th scope="col"> ROLL NO</th>
      <th scope="col">COLLEGE NAME</th>
      <th scope="col">MOBILE</th>
        <th scope="col">COLLEGE NAME</th>
        <th scope="col">EMAIL</th>


    </tr>
  </thead>
  <tbody>
      {% for i in data %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.name}}</td>
      <td>{{i.rollno}}</td>
      <td>{{i.collegename}}</td>
            <td>{{i.mobile}}</td>
      <td>{{i.email}}</td>

             <td><a href="{% url 'delete_data' i.id %}" class="btn btn-danger">DELETE</a> </td>


    </tr>
{% endfor %}
  </tbody>
  </table>



{% endblock %}

  </div>
</div>