{% extends "admin/adminbase.html" %}
{% block content %}

<div class="card" style="width: 60rem;">
  <div class="card-body">
    <h5 class="card-title">Complain View</h5>


    <table class="table">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col">SUBJECT</th>
      <th scope="col"> DESCRIPTION</th>
              <th scope="col"> TIME</th>
      <th scope="col"> REPLY</th>

    </tr>
  </thead>
  <tbody>
      {% for i in data %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.subject}}</td>
      <td>{{i.description}}</td>
            <td>{{i.Time}}</td>
      <td>
        {% if i.reply == None %}
        <a href = "{% url 'reply_complaint' i.id %}">Reply Now</a>
        {% else %}
        {{i.reply}}
        {% endif %}
      </td>
{% empty %}

    </tr>
{% endfor %}
  </tbody>
  </table>



{% endblock %}

  </div>
</div>